header{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
}
section{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    column-gap: 1%;
}
article{
    background-color: rgba(255, 136, 9, 0.508);
    padding: 1%;
}

footer{
    display: flex;
    background-color: blue;
    color: aliceblue;
    justify-content: center;
}