body{
    background: rgb(241,181,207);
    background: radial-gradient(circle, rgba(241,181,207,1) 0%, rgba(168,204,247,1) 100%);
    margin: 0; padding: 0;
    font-family: Arial;
}
.HEADER{
    text-align: center;
    background-image: url(img/fondo2.jpg);
    font-size: 80px;
    width: 100%;
    height: 270px;
    color: aliceblue;
}
nav {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: static;
    z-index: 100;
    float: left;
    font-size: 100px;
}
nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #e8e6e6;
    text-decoration: none;
}
main{
    text-align: center;
    font-size: 50px;
}


