header{
    background-color: #90EE90;
    text-align: left;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}
footer{
    background-color: #008000;
    text-align: center;
    height: 25px;
    padding-top: 7px;
}
main{
    background-color: white;
    
}