.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.target{
    width: 270px;
    box-shadow: 3px 4px 10px 0 grey, 5px 6px 15px black;
    border: solid 1px black;
    padding: 5px;
    text-align: center;
    background-color: #adadad;
    grid-area: 2 / 3 / 4 / 4; 
}
footer{
    background-color: rgb(99, 98, 98);
}
img{
    width: 250px;
    border-radius: 10px;
    border: solid 2px black;
}