body{
   background: rgb(241,181,207);
    background: radial-gradient(circle, rgba(241,181,207,1) 0%, rgba(168,204,247,1) 100%);
    margin: 0%;
}
#uno{
    font-size: 80px;
    text-shadow: 0px 1px 10px blue;
    font-family: fantasy;
    text-align: center;
    background-color: aliceblue;
    height: 100px;
}
img{
   border-radius: 10px;
   border: solid 5px;
}
#ip{
    text-align: center;
    
}
table, th, td {
    border: solid 1px blue;
}
nav {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: static;
    z-index: 100;
    float: left;
    font-size: 100px;
}
nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #e8e6e6;
    text-decoration: none;
}