#txt{
    margin: 5%;
    width: 40%;
    background-color: #20B2AA;
    float: right;
    height: 650px;
}
#txt2{
    margin: 5%;
    width: 40%;
    background-color: #20B2AA;
    float: left;
    height: 650px;
}
header{
    background-color: #FFA500;
    width: 100%;
    margin-top: 5px;
    
    min-height: 7%;
}
.container{
    width: 800px;
    height: 800px;
    background-color: #87CEFA;
    padding: 1%;
}